{% extends "base.html" %}
<!-- Loading Static -->
{% load static %}
{% block title %} | Blogs{% endblock %}
<!-- Main Content -->
{% block content %}
<!-- Blogs-->
 <section class="container-fluid pt-5 blog-bg-img">
      <div class="row justify-content-center">
          {% include "partials/_alert.html" %}
        <div class="col-9">
          <div class="row justify-content-center">
          {% for blog in blogs %}
               <div class="col-sm-12 col-md-6 col-lg-4 removePad">
              <div class="card card-hover shadow mt-5">
                  {% if blog.image %}
                <img
                  src="{{ blog.image.url }}"
                  alt=""
                  class="card-img-top card-img"
                />
                  {% endif %}
                <div class="card-body">
                    {% if blog.user.profile_image %}
                  <img
                    src="{{ blog.user.profile_image.url }}"
                    alt=""
                    class=" rounded-circle img-rounded"
                  />
                    {% endif %}
                  <span class="teal-text">{{ blog.user.username }}</span>
                  <hr />
                  <a href="{% url 'blog_detail' blog.id %}">
                    <p class="card-title text-center">
                      <strong>{{ blog.title }}</strong>
                    </p>
                    <p class="card-text text-center">
                     {{ blog.content }}
                    </p>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

{% endblock %}

