{% extends "base.html" %}
<!-- Loading Static -->
{% load static %}
{% block title %} | Blog details {% endblock %}
<!-- Main Content -->
{% block content %}
<!-- Blog Detail-->
  <section class="container-fluid pt-5 blog-bg-img">
      <div class="row justify-content-center">
        <div class="col-9">
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-9 col-lg-6 removePad">
              <div class="card border mt-5">
                {% if blog.image %}
                <img
                  src="{{ blog.image.url }}"
                  alt=""
                  class="card-img-top card-detail-img"
                />
                {% endif %}
                <div class="card-body">
                  {% if blog.user.profile_image %}
                  <img
                    src="{{ blog.user.profile_image.url }}"
                    alt=""
                    class=" rounded-circle img-rounded"
                  />
                  {% endif %}
                  <span class="teal-text">{{ blog.user.username }}</span>
                  <hr />

                  <p class="card-title text-center">
                    <strong>{{ blog.title }}</strong>
                  </p>
                  <p class="card-text font-weight-lighter">
                    {{ blog.content }}
                  </p>
                  <hr>
                  <form action="{% url 'likes' %}" method="post">
                     {% csrf_token %}
                    {% if is_liked %}
                    <button class="btn btn-sm btn-danger" name="blog_id" value="{{ blog.id }}" type="submit"><i class="far fa-thumbs-down"></i>Dislike</button>
                    {% else %}
                    <button class="btn btn-sm btn-primary" name="blog_id" value="{{ blog.id }}" type="submit"><i class="far fa-thumbs-up"></i>Like</button>
                    {% endif %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

