{% extends "base.html" %}
<!-- Loading Static -->
{% load static %}
{% block title %} | Events {% endblock %}
<!-- Main Content -->
{% block content %}
<!-- Events-->
<section class="container">
    <div class="row justify-content-center">
         {% for event in events %}
          <div class="col-sm-12 col-md-10 col-lg-10 mt-5">
              <div class="card" >
                  {% if event.image %}
                  <img src="{{ event.image.url }}" class="card-img-top" alt="...">
                  {% endif %}
                  <div class="card-body bg-teal">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text"><small class="">{{ event.content }}</small></p>
                  </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
</section>
{% endblock %}

