{% extends "base.html" %}
<!-- Static -->
{% load static %}
{% block title %} | Welcome {% endblock %}
<!-- Home Page Content -->
{% block content %}
<section class="container-fluid" style="padding:0px;">
  <div class="card bg-dark text-white" style="">
    <img
      src="{% static 'img/cocktail.jpg' %}"
      class="card-img search-bg"
      alt="..."

    />
    <div class="card-img-overlay">
      <div class="container">
        <div class="row">
          <div class="col">

     <div class="jumbotron jumbotron-bg mt-5 text-center">
                 {% for abt in about %}
                 <h1 class="text-center font-weight-light">
                        {{ abt.heading }}
                      </h1>

              <hr class="my-4 bg-white" />
              <p class="text-left font-weight-lighter">
                    {{ abt.content }}
              </p>
              <a href="{% url 'about' %}" class="btn btn-info btn-md" role="button"
                >Read More...</a
              >
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
